<div>
  <div class="d-flex justify-content-end"><button routerLink="add" class=" btn btn-outline-info mb-2">Add FAQ</button></div>
  <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
    <div class="flex-grow-1">
      <input #search
        type="text"
        [(ngModel)]="searchTerm"
        [placeholder]="searchCriteria?'Search By FAQ Answers':'Search By FAQ Question'"
        class="form-control bg-white shadow-none" />
    </div>
    <div class="d-flex gap-2 align-items-center">
      <span>Question</span>
      <label class="switch">
        <input [(ngModel)]="searchCriteria" type="checkbox">
        <span class="slider"></span>
      </label>
      <span>Answer</span>
    </div>
  </div>
</div>
<div class="d-flex flex-column gap-2" ngbAccordion [closeOthers]="true">
  <ng-container *ngFor="let faq of faqs">
    <div ngbAccordionItem *ngIf="matchesSearchTerm(faq)">
      <h2 ngbAccordionHeader class="d-flex align-items-center">
        <div class="flex-grow-1">
          <button class="bg-light" ngbAccordionButton>
            <div>
              {{ faq.question }}
            </div>
          </button>
        </div>
        <div class="d-flex gap-2 ms-2">
          <button class="btn btn-primary" (click)="editFaq(faq)">Edit</button>
          <button class="btn btn-danger " (click)="deleteFAQ(faq)">Delete</button>
        </div>
      </h2>
      <div class="bg-cyan flex-grow-1" ngbAccordionCollapse>
        <div ngbAccordionBody>
          <span [innerHTML]="faq.answer "></span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
