<div class="card" [dir]="'dir' | translate">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">{{'Top Selling' | translate}}</h4>
    <h5 class="card-subtitle">{{'Overview of the projects' | translate}}</h5>

    <!-- title -->
    <div class="table-responsive">
      <table class="table align-middle" [dir]="'dir' | translate">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">{{'Resource Name' | translate }}</th>
            <th class="text-dark font-medium fs-4">{{'Total Cost' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="topSelling.length > 0; else emptyDataBlock">
            <tr *ngFor="let ts of topSelling">
              <td class="fs-4">{{ ts.resourceName }}</td>
              <td class="fs-4">{{ ts.totalPrice }}</td>
            </tr>
          </ng-container>
          <ng-template #emptyDataBlock>
            <tr>
              <td colspan="2" class="text-center">{{'No data found' | translate}}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>

</div>
