<div class="card">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">Top Selling</h4>
    <h5 class="card-subtitle">Overview of the projects</h5>

    <!-- title -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Resource Name</th>
            <th class="text-dark font-medium fs-4">Total Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let ts of topSelling'>
            <td class="fs-4">{{ts.resourceName}}</td>
            <td class="fs-4">{{ts.totalPrice}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
