<div class="card rounded-2 m-0" [dir]="'dir' | translate">
  <div class="card-body">
    <div class="d-flex justify-content-between">

      <button type="button" class="btn-close" aria-label="Close"
        (click)="closeModal()"></button>
    </div>

    <div class="table-responsive">
      <table class="table align-middle text-nowrap table-hover" [dir]="'dir' | translate">
        <tbody>
          <tr>
            <td>{{'bookingItem ID' | translate}}</td>
            <td>{{bookingItem.id}}</td>
          </tr>
          <tr>
            <td>{{'Booking Date' | translate}}</td>
            <td>{{bookingItem.date}}</td>
          </tr>
          <tr>
            <td>{{'Start Time' | translate}}</td>
            <td>{{startTime}}</td>
          </tr>
          <tr>
            <td>{{'End Time' | translate}}</td>
            <td>{{endTime}}</td>
          </tr>
          <tr>
            <td>{{'Booking Status' | translate}}</td>
            <td>{{bookingItem.availability}}</td>
          </tr>
          <tr>
            <td>{{'Cost' | translate}}</td>
            <td>{{bookingItem.totalCost}} L.E</td>
          </tr>
          <tr>
            <td>{{'User' | translate}}</td>
            <td>{{bookingItem.userEmail}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
