<div class="row">
  <ng-container *ngFor='let tr of trow'>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <img class="card-img-top img-responsive" src="assets/images/bg/bg1.jpg" alt="Card image cap" />
        <div class="card-body">
          <h4 class="card-title">{{tr.Name}} ({{tr.Quantity}})</h4>
          <p class="card-text"> {{tr.Description}} </p>
          <a href="javascript:void(0)" class="btn btn-primary">Show Resources</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>