
  .resourcetype-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .resourcetype-controls-item{
    display: flex;
    a,button{
        width: 100%;
    }
  }
  
 

