<div class="row justify-content-between align-items-center mb-4">
  <div class="col-12  col-md-8 ">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Name" class="form-control">
  </div>
  <div class="col-12 col-md-4 ">
    <button class="btn btn-primary" (click)="createResourceType()"> Add Resource Type </button>
  </div>
</div>

<div class="row">
  <h2>
    All Resource Types
  </h2>
  <ng-container *ngFor='let rt of ResourceTypes; let i = index'>
    <div class="col-lg-3 col-md-6" *ngIf="matchesSearchTerm(rt)">
      <div class="card" >
        <img class="card-img-top img-responsive" src="assets/images/bg/bg1.jpg" alt="Card image cap" />
        <div class="card-body">

          <h4 class="card-title">{{rt.name}} </h4>
          <!-- <p class="card-text"> {{rt.Description}} </p> -->
          <a (click)="openModal(rt)" class="btn btn-primary me-2 mb-2">Attributes</a>
          <a [routerLink]="'/resourcetype/'+ rt.id +'/resources'" class="btn btn-primary  me-2 mb-2">Resources</a>
          <a [routerLink]="'/editresourcetype/' + rt.id" class="btn btn-info me-2 mb-2">Edit</a>
          <a class="btn btn-danger me-2 mb-2"
            (click)="deleteResourceType(rt.id)"
          >
            Delete
          </a>
        </div>
      </div>
    </div>

    
    
  </ng-container>

