<!-- <div class="card">
  <div class="card-body">
    <h4 class="card-title">Table Hover</h4>
    <div class="table-responsive">
      <table class="table table-hover align-middle text-nowrap table-bordered">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">#</th>
            <th class="text-dark font-medium fs-4">Name</th>
            <th class="text-dark font-medium fs-4">Description</th>
            <th class="text-dark font-medium fs-4">No. Resources</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let tr of trow'>
            <td>
              {{tr.Id}}
            </td>
            <td>
              {{tr.Name}}
            </td>
            <td>
              {{tr.Description}}
            </td>
            <td>
              {{tr.Quantity}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="row">
  <ng-container *ngFor='let tr of trow'>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <img class="card-img-top img-responsive" src="assets/images/bg/bg1.jpg" alt="Card image cap" />
        <div class="card-body">
          <h4 class="card-title">{{tr.Name}} ({{tr.Quantity}})</h4>
          <p class="card-text"> {{tr.Description}} </p>
          <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>