<div class="card rounded-2 m-0">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <input
        class="form-control shadow-none w-50 d-inline me-2"
        name="resourceTypeName"
        type="text"
        [(ngModel)]="ResourceTypeName"
      />
    </div>
    <!-- <div class="table-responsive">
      <table
        class="table align-middle text-nowrap table-hover"
        [formGroup]="form"
      >
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Field Name</th>
            <th class="text-dark font-medium fs-4">Field Type</th>
            <th class="text-dark font-medium fs-4">Actions</th>
          </tr>
        </thead>
        <tbody formArrayName="fields">
          <tr
            *ngFor="let field of formFields.controls; let i = index"
            [formGroupName]="i"
          >
            <td class="col-4">
              <input
                class="form-control"
                formControlName="input"
                placeholder="Field Name"
                required
              />
            </td>
            <td class="col-4">
              <select class="form-select" formControlName="selectOption">
                <option value="Number">Number</option>
                <option value="Text">Text</option>
                <option value="Boolean">Boolean</option>
                <option value="Date">Date</option>
              </select>
            </td>
            <td class="col-4">
              <button
                *ngIf="i === formFields.controls.length - 1"
                class="btn btn-warning"
                (click)="addFields()"
              >
                Add
              </button>
              <button
                *ngIf="i !== formFields.controls.length - 1"
                class="btn btn-danger"
                (click)="removeField(i)"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class="d-flex justify-content-end">
      <button
        class="btn btn-primary col-2"
        (click)="updateResourceType({selectedCardID})"
      >
        update
      </button>
    </div>
  </div>
</div>
