<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="assets/images/users/user1.jpg" width="90">
                <span class="font-weight-bold">{{user.firstName}} {{user.lastName}}</span>
                <span class="text-black-50">{{user.userName}}</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5 ">             
                <form [formGroup]="editForm"  class="row">

                    <div class="row mt-2">
                    
                        <div class="col-md-6 mt-1">
                            <h3>First Name</h3>
                            <input type="text" class="form-control" placeholder="first name" value={{user.firstName}} >
                        </div>                    
                        <div class="col-md-6 mt-1">
                            <h3>Last Name</h3>
                            <input type="text" class="form-control" value={{user.lastName}} placeholder="Last Name" >
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 mt-1">
                            <h3>Email Address</h3>
                            <input type="text" class="form-control" placeholder="example-123@email.com" value={{user.email}} disabled>
                        </div>
                        <div class="col-md-6 mt-1">
                            <h3>Phone number</h3>
                            <input type="text" class="form-control" value={{user.phoneNumber}} placeholder="Phone number" >
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 mt-1">
                            <h3>Address</h3>
                            <input type="text" class="form-control" placeholder="address" value={{user.address}} >
                        </div>
                    </div>
                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
    
                </form>
                
            </div>
        </div>
    </div>
</div>

