<div class="card rounded-2 m-0" [dir]="'dir' | translate">
  <div class="card-body">
    <div class="p-3 text-primary text-center">
      <h3 class="m-0">
        {{'Update Resource Type' | translate}}
      </h3>
    </div>
    <form [formGroup]="checkboxForm" (ngSubmit)="onSubmit()">
      <div class="m-3">
        <select
          id="resourceType"
          formControlName="resourceType"
          class="form-control"
          multiple>
          <option
            *ngFor="let resourceType of allResourceTypes"
            [value]="resourceType.id"
            [selected]="defaultSelectedRTY.includes(resourceType.id)">
            {{ resourceType.name }}
          </option>
        </select>
        <div
          *ngIf="getControl('resourceType')?.errors && getControl('resourceType')?.touched">
          <small
            class="text-danger d-flex align-items-center fs-5"
            *ngIf="getControl('resourceType')?.errors?.['required']">
            {{'Please select at least one resource type' | translate}}
          </small>
        </div>
      </div>
      <div class="m-3 row">
        <button class="btn btn-info text-center m-3 col-5" type="submit" [disabled]="!formValueChanged || checkboxForm.invalid">
            {{'Update' | translate}}
        </button>
        <button class="btn btn-danger text-center m-3 col-5" (click)="closeModal()" >
           {{'Cancel' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>


