<div class="card" [dir]="'dir' | translate">
  <div class="card-body">
    <h4 class="card-title">{{'Booking Resources' | translate}}</h4>
    <h5 class="card-subtitle text-muted">{{'Overview of the current available resources' | translate}}</h5>

    <!-- Add the filter by resource type select box -->
    <!-- <div class="mb-3">
      <select class="form-select" [(ngModel)]="searchResourceType" placeholder="Search by resource type">
        <option value="">All</option>
        <option *ngFor="let resourceType of getResourceTypes()" [value]="resourceType">{{ resourceType }}</option>
      </select>
    </div> -->

    <div class="border p-3 my-3">
      <h3>
        {{'Add New Resource Form' | translate}}
        </h3>
      <form class="d-flex flex-column gap-2" [formGroup]="newResourceType">

        <div class="d-flex gap-2">
          <input class="form-control" type="text" formControlName="name" placeholder="{{'Resource Name' | translate}}">
          <input class="form-control" type="number" min="0" formControlName="price" placeholder="{{'Resource Price' | translate}}">
        </div>



        <button type="submit" class="btn btn-primary" (click)="createNewResource()">
          {{'Add New Resource' | translate}}
        </button>
      </form>
    </div>

    <div class="table-responsive">
      <h3>{{'Resources List' | translate}}</h3>
      <table class="table align-middle text-nowrap" [dir]="'dir' | translate">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">#</th>
            <th class="text-dark font-medium fs-4">{{'Name' | translate}}</th>
            <th class="text-dark font-medium fs-4">{{'Resource Type' | translate}}</th>
            <th class="text-dark font-medium fs-4">{{'Price' | translate}}</th>
            <th class="text-dark font-medium fs-4"></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let resource of getResources() | slice: (page-1) * pageSize : page * pageSize"> -->

            <tr *ngIf="filteredResources.length === 0">
              <td colspan="5" class="text-center">{{'No resources found' | translate}}</td>
            </tr>

            <tr *ngFor="let resource of filteredResources">
            <td>{{ resource.id }}</td>
            <td>{{ resource.name }}</td>
            <td>{{ resource.resourceTypeId }}</td>
            <td>{{ resource.price }}</td>
            <td class="d-flex gap-2">
              <button class="btn btn-primary">
                <a (click)="openModal(resource)">{{'Details' | translate}}</a>
              </button>
              <button class="btn btn-warning">{{'Schedule' | translate}}</button>
              <button class="btn btn-success" [routerLink]="['/resources', urlResourceTypeID, 'updateresource', resource.id]">{{'Update' | translate}}</button>
              <button class="btn btn-danger" (click)="openDeleteModal(resource)">{{'Delete' | translate}}</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ngb-pagination
        [collectionSize]="getResources().length"
        [(page)]="page"
        [(pageSize)]="pageSize"
      ></ngb-pagination> -->
    </div>
  </div>
</div>
