

<div class="card rounded-2 m-0">
  <div class="card-body">
    <section class="">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title">
                {{ service?.name }}
              </h2>
              <p class="card-text text-start">
                {{ service?.description }}
              </p>
            </div>
          </div>
    </section>
    <section>
      <!-- <app-list-reousrce-types></app-list-reousrce-types> -->
      <!-- <h2>Resources type for {{service?.name}}</h2> -->
      <table class="table align-middle text-nowrap" >
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Name</th>
            <th class="text-dark font-medium fs-4"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceMD of serviceMDs">
            <td>{{serviceMD.resourceTypeId}}</td>
            <td class="d-flex gap-2">
              <a (click)="openModal(serviceMD)" class="btn btn-primary me-2 mb-2">Attributes</a>
              <a [routerLink]="'/resourcetype/'+ serviceMD.resourceTypeId +'/resources'"
                class="btn btn-primary  me-2 mb-2">Resources</a>
              <a [routerLink]="'/editresourcetype/' +serviceMD.resourceTypeId"
                class="btn btn-info me-2 mb-2">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>   
  </div>
</div>
