

<div class="card rounded-2 m-0">
  <div class="card-body">
    <section class="">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title">
                {{ service?.name }}
              </h2>
              <p class="card-text text-start">
                {{ service?.description }}
              </p>
            </div>
          </div>
    </section>
    <section>
      <!-- <app-list-reousrce-types></app-list-reousrce-types> -->
   </section>   
  </div>
</div>
