<div
  class="d-flex justify-content-center align-items-center not-found-container flex-column text-center gap-2"
  style="height: 100vh;"
>
  <div>
    <img src="../../../assets/images/404.svg" alt="image" class="img-fluid"
        style="width: 15rem;"
     />
  </div>
  <div>
    <h1 class="text-primary">Not Found</h1>
    <h4 class="text-secondary">
      The page you are looking for might have <br />
       been removed had its name changed
      or is temporarily unavailable.
    </h4>
    <a href="/" class="btn btn-primary">Go to Home</a>
  </div>
</div>
