<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Profile deletion</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>
    <strong>Are you sure you want to move schedule <span class="text-primary">{{schedule.id}}
        : {{schedule.text}}</span>?</strong>
  </p>
  <span class="text-danger">All information associated to this scheudle will be
    updated</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger"
    (click)="modal.close('ok')">Ok</button>
</div>
