<div class="card rounded-2 m-0">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <!-- <h4 class="card-title d-inline">{{ Resource.name }}</h4> -->
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModal()"
      ></button>
    </div>
    <div class="table-responsive">
      <table class="table align-middle text-nowrap table-hover">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">{{'Item' | translate}}</th>
            <th class="text-dark font-medium fs-4">{{'Value' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of newDetails | keyvalue">
            <tr>
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>

            <tr *ngIf="item.key === 'attributes'">
              <ng-container *ngIf="item.value.length === 0; else attributesBlock">
                <td colspan="2">
                  <p>{{'No attributes found' | translate}}</p>
                </td>
              </ng-container>

              <ng-template #attributesBlock>
                <td colspan="2">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{{'Attribute' | translate}}</th>
                        <th>{{'Value' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let attribute of item.value | keyvalue">
                        <td>{{ attribute.key }}</td>
                        <td>{{ attribute.value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </ng-template>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>
  </div>
</div>
