<div [dir]="'dir' | translate">
    <form class="d-flex flex-column gap-2" [formGroup]="updateResource" >

      <div class="d-flex gap-2">
        <!-- <input class="form-control" type="text" formControlName="name" placeholder="Resource New Name"> -->
        <input class="form-control" type="number" min="0" formControlName="price" placeholder="{{'Resource New Price' | translate}}">
      </div>



      <button type="submit" class="btn btn-primary" (click)="updateResourceType()" >
        {{'Update' | translate}}
      </button>
    </form>
</div>
