.toast-success {
    background-color: #51a351 !important;
  }
  .form-floating .form-control:focus {
    border-color: #FF0000; /* Replace with your desired border color */
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25); /* Replace with your desired box shadow color */
  }
  