
 <div class="card rounded-2 m-0" [dir]="'dir' | translate">
  <div class="card-body">
    <div class="p-3 text-primary text-center">
      <h3 class="m-0">
        {{"Update Service"| translate}}
      </h3>
    </div>

    <form [formGroup]="addServiceForm" (ngSubmit)="onSubmit()">
      <div>
        <input hidden formControlName="id"  value={{service?.id}} />
      </div>

        <div class="m-3">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="{{'Name' | translate}}" value={{service?.name}}>
          <div *ngIf="getControl('name')?.errors && getControl('name')?.touched">
            <small class="d-flex alert alert-danger mt-1 p-1 " *ngIf="getControl('name')?.errors?.['required']"> {{'Please Enter name' | translate}}</small>
          </div>
        </div>
        <div class="m-3">
          <textarea id="description" formControlName="description" class="form-control" placeholder="{{'Description' | translate}}"
          style="max-height: 200px;"></textarea>
          <div *ngIf="getControl('description')?.errors && getControl('description')?.touched">
          <small class="d-flex alert alert-danger mt-1 p-1 "
            *ngIf="getControl('description')?.errors?.['required']"> {{'Please Enter description' | translate}}</small>
        </div>
        </div>

        <div class="m-3">
            <select id="status" formControlName="status" class="form-control" value={{service?.status}} >
              <option value="" disabled selected>{{'Select status' | translate}}</option>
              <option value="0" active>{{'Active' | translate}}</option>
              <option value="1">{{'Inactive' | translate}}</option>
              <option value="2">{{'Pending Approval' | translate}}</option>
            </select>
            <div *ngIf="getControl('status')?.errors && getControl('status')?.touched">
              <small class="d-flex alert alert-danger mt-1 p-1 " *ngIf="getControl('status')?.errors?.['required']">{{'Please select a status' | translate}}</small>
            </div>
          </div>
          <div class="m-3 row">
            <button class="btn btn-info text-center m-3 col-5 " type="submit" [disabled]="!formValueChanged">{{'Update' | translate}}</button>
            <button class="btn btn-danger text-center m-3 col-5" (click)="closeModal()" >{{'Cancel' | translate}}</button>
          </div>
        </form>
      </div>
  </div>


