<div [dir]="'dir' | translate">
  <form class="d-flex flex-column gap-2" [formGroup]="createResourceTypeAttr" [dir]="'dir' | translate">
    <div class="d-flex gap-2">
      <input
        class="form-control"
        type="text"
        formControlName="attributeName"
        placeholder="{{'Enter attribute name' | translate}}"
      />
      <select class="form-select" formControlName="attributeType">
        <option value="null" selected disabled>{{'Select Data Type' | translate}}</option>
        <option value="string">String</option>
        <option value="number">Number</option>
        <option value="boolean">Boolean</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{'Create Resource Data Attribute' | translate}}</button>
  </form>
</div>
